/*----------------------------------------------*\
    COMPONENTS
	==========

	@package yaybrigade

\*----------------------------------------------*/


/* 
 *
 * / Variables
------------------------------------------------*/

/* Colors */


/* Breakpoints */
$xx-small: 23rem;
$x-small: 27rem;
$small: 36rem;
$medium: 48rem;
$large: 64rem;
$x-large: 77rem;
$xx-large: 94rem;