/*----------------------------------------------*\
    FOOTER
	======

	@package yaybrigade

\*----------------------------------------------*/

@use "_components.scss" as c;


/* 
 *
 * 1./  
------------------------------------------------*/